
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

header {
    /*min-height: 10vh;*/
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/*
.header-first-part {
    width: 67vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 0.2em;
}
*/ 

nav {
    /*width: 80%;*/
    display: flex;
    justify-content: flex-start;
    gap: 2.7rem;
}

a {all: unset;}
a:hover {cursor: pointer;}

nav a {
    text-decoration: none;
    font-size: 2rem;
    font-weight:bolder;
    color: #2B2C3E;
}

nav a:hover{
    color: #FCDA68;

}

.user-image {
    display: flex;
    align-items: center;
}

.user-image img {
    height: 3em;
    width: 3.5em;
}