body{
    overflow:hidden;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 1.23rem;
    color: #2D2B40
    
}



.header{
    height: 8%;
    width: 100%;
}

body p{
    margin-left: 4rem;
    height: 3rem;
}

.contentEncontrado{
    height: 80%;
    width: 90%;
    
}



.datos{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 2px;
    margin-right: 2rem;
    overflow: auto;
    height: 45rem;
    width: 88rem;
    min-width: 88rem;



}

.datos p{
    font-size: 1.20rem;
    margin-top: 1rem;
    height: 2.50rem;
}

.datos select{
    height: 1.7rem;
    margin-left: 4rem;
    width: 80%;
    border-radius: 0.5rem;
    font-size: 0.80rem;
    font-weight: 600;
}

.datos input{
    height: 1.7rem;
    margin-left: 4rem;
    width: 80%;
    border-radius: 0.5rem;
    font-size: 0.80rem;
    font-weight: 600;
}
.f1{
    height: 9rem;
    
    display: flex;
}
.f2{
    height: 9rem;
    
    display: flex;
}

.c1{
    width: 33%;
    
}

.c2{
    width: 34%;
    
}

.c3{
    width: 33%;
    
}

.fechas{
    
    display: flex;
    

    
}
.fechas select{
    margin-left: 0;
    width: 60%;
    margin-right: 20%;
}
.fechas p{
    font-size: 00.80rem;
    font-weight: 600;
    width: 2rem;
    margin-left: 0rem;
    margin-top: 0.5rem;

}

.day{
    width: 26%;
   
    display: flex;
}

.month{
    width: 37%;
    
    display: flex;
}

.year{
    width: 37%;
    
    display: flex;
}

.daySelect{
    width: 1rem;
}

.monthSelect{
    width: 1rem;
}

.yearSelect{
    width: 1rem;
}

.f3{
    height: 18rem;
    background-color: blue;
}

.f4{
    height: 9rem;
    justify-content: center;
}
.f4 button{
    color: #fff;
    background-color: #fcda69;
    margin-left: 28rem;
    margin-top: 3.5rem;
    width: 35rem;
    height: 3rem;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2rem;

}

