@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

#main-content{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}


#container{
    height: 1000px;
    display: flex;
}

#aside{
    height: inherit;
    width: 20%;
    display: inline-flex;
}

#filter{
    margin-left: 10%;
}

.filtertext{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 550;
    color: #2D2B40;
    user-select: none;
    text-align: left;
}
input{
    background-color: #f5f5f5;
    border:none;

}
select{
    background-color: #f5f5f5;
    border:none;
    border-radius: 10px;
    
}
#list{
    height: inherit;
    width: 80%;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
}

.post{
    margin: 0;
}
.botonamarillo{
    margin-bottom: 5%;
    border:none;
    border-radius:15px;
    width: 175px;
    background-color: #FCDA68;
    padding: 6px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 14px;
}
.botonamarillo:hover{
    cursor:pointer;
}