body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {all: unset;}

a:hover {cursor: pointer;}

nav a:hover {
    padding: 2%;
    background-color: #FFFF;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: #2D2B40;
    font-size: 1.3rem;
    font-weight: bolder;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    background-color: #FCDA68;
}

.header-title {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-title-logo {
    margin-left: 2%;
    margin-top: 2%;
    width: 15em;
}

/*
.header-title-logo {
    margin-left: 1em;
    margin-top: 0.4em;
    height: 4em;
}
*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2em;
    width: 40em;
}

.line {
    height: 3em;
}

#responsive-menu {
    width: 15%;
    display: none;
}

#responsive-menu div {
    font-size: 2.5em;
    color:  #000;
    cursor: pointer;
}

#responsive-menu div:hover {
    color: #FFF;
}

.nav-responsive {
    height: 30vh;
    width: 100%;
    display: none;
}

.nav-responsive-inside {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #FFF;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
}

.nav-responsive-inside a:hover {
    /*
    padding: 2%;
    background-color: #FFFF;
    border-radius: 12px;
    */
    color: #FCDA68;
}

/*
.reasons-FindMyPet{
    margin-top: 4em;
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    justify-content: center;
}
*/

.reasons-FindMyPet{
    width: 90vw;
    min-height: 85vh;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.reasons {
    padding: 2em;
    background-color: #FCDA68;
    border: 3px solid #EFEFEF;
    border-right: transparent;
    display: flex;
    flex-direction: column;
}

.reasons-title h1 {
    font-size: 2.5em;
}

.reasons-title h3 {
    margin-top: -0.5em;
    font-size: 1.5em;
    color: #2d2b40ce;
}

.reasons-content {
    height: 60vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reason {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight:600;
}

.check {
    height: 1.5em;
    padding: 0.5em;
}

.screenshot {
    border: 3px solid #EFEFEF;
}

.screenshot2 {
    display: none;
}

.new-FindMyPet a:hover {
    color: #FFFF;
}

.new-FindMyPet {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

.new-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-images > * {
    flex-basis: 40vh;
}

.image1 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.new-text {
    min-height: 70vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-titles h1 {
    margin-top: 0em;
    margin-left: -0.2em;
    font-size: 2.5em;
    font-weight: bolder;
}

.new-titles h2 {
    font-size: 1.5em;
    color: #2d2b40ce;
    margin-top: -0.5em;
}

.new-content-title h4 {
    font-size: 1.2em;
    font-weight: bold;
}

.new-content-paragraph {
    padding-bottom: 1.5em;
}

.new-content-paragraph p {
    width: 35vw;
    text-align: justify;
    text-justify: inter-word;
}

.new-content-button {
    background-color: #FCDA68;
    width: 15vw;
    padding: 0.5em;
    border-radius: 20px;
    text-align: center;
}

.foto-gato {
    display: none;
}

footer a:hover {
    color: #FFFF;
}

footer {
    background-image: url("http://localhost/FindMyPet/imagenes/homeInvitado/Footer-Background");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100vw;
    min-height: 50vh;
    background-color: #FCDA68;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.direct-access {
    display: flex;
    flex-direction: column;
}

.direct-access-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 10em;
    gap: 3em;
}

.direct-access-item {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.direct-access-item a {
    font-size: 1rem;
    font-weight: 100;
}

.direct-access-item-icon img {
    width: 1.5em;
    height: 1.5em;
}

.contact-us {
    display: flex;
    flex-direction: column;
}

.contact-us-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 5em;
    gap: 2em;
    margin-top: 2em;
    list-style: none;
}

.contact-us-street {
    width: 20em;
}

.contact-us-list-item {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.contact-us-list-item-icon {
    width: 1.5em;
    height: 1.5em;
}

.contact-us-list-item-icon img {
    width: 1.5em;
    height: 1.5em;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 95vw;
    min-height: 15vh;
}

.logo-copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

.social-media {
    width: 28vw;
    display: flex;
    justify-content: center;
}

.social-media-icons {
    width: 15vw;
    display: flex;
    justify-content: space-around;
}

.social-media-icons img {
    width: 1.5em;
    height: 1.5em;
}

@keyframes aparecer {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0%;
    }
}

@keyframes desaparecer {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: -100%;
    }
}

@media (max-width: 1500px) {
    .reasons-FindMyPet {
        flex-direction: column;
        width: 60vw;
    }

    .reasons {
        align-items: center;
    }

    .reasons-title {
         text-align: center;
    }

    .screenshot {
        border-top: none;
    }

    .reasons-screenshot {
        display: flex;
        justify-content: center;
    }

    .screenshot1 {
        display: none;
    }

    .screenshot2 {
        display: block;
        height: 100%;
        width: 100%;
    }

    .new-FindMyPet {
        flex-direction: column;
        align-items: center;
    }

    .new-images {
        display: none;
    }

    .new-text {
        width: 80%;
        align-items: center;
        padding: 0;
        margin-top: 2em;
    }

    .new-titles {
        text-align: center;
        width: 100%;
    }

    .new-titles h1 {
        font-size: 2em;
    }

    .new-titles h2 {
        font-size: 1.2em;
    }

    .new-content-title h4 {
        font-size: 1em;
    }

    .new-content {
        width: 100%;
    }

    .new-content-paragraph p {
        width: 100%;
    }

    .new-content-button {
        width: 25%;
    }

    .image2 {
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
    }

    .foto-gato {
        display: block;
        width: 90%;
        height: 90%;
    }

    footer {
        background-image: none;
    }

    .social-media {
        width: 50%;
        justify-content: flex-end;
    }

}

@media (max-width: 1000px) {
    nav {
        justify-content: flex-end;
        gap: 5%;
    }

    #newLinkFMP {
        display: none;
    }

    #headerStick {
        display: none;
    }

    .reasons-FindMyPet {
        flex-direction: column;
        width: 85vw;
    }

    .main-footer {
        flex-direction: column;
    }

    .direct-access {
        width: 100%;
        align-items: center;
    }

    .direct-access-list {
        width: 100%;
        align-items: center;
    }

    .footer-logo {
        display: none;
    }
    /*
    .contact-us {
        margin-top: 1em;
        width: 100%;
        align-items: center;
    }

    .contact-us-street {
        text-align: center;
    }

    .contact-us-list {
        width: 100%;
        align-items: center;
    }

    .contact-us-list-item {
        width: 80%;
        justify-content: center;
    }
    */

    .contact-us {
        display: none;
    }

    .social-media {
        display: none;
    }
}

@media (max-width: 700px) {
    nav {
        display: none;
    }

    #responsive-menu {
        display: block;
    }

    .nav-responsive-inside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .new-content-button {
        width: 50%;
    }

    .bottom-footer {
        width: 100%;
        justify-content: center;
        margin: 0;
        padding-bottom: 2em;
    }

    .logo-copy {
        width: 100%;
        margin-top: 3   em;
        align-items: center;
    }

    .copyright-footer {
        width: 90%;
        text-align: center;
    }

}

