button:hover{
    cursor:pointer;
}

input:invalid{
    animation: shake 300ms;
}
@keyframes shake {
    25%{ transform: translateX(4px); }
    50%{ transform: translateX(-4px); }
    75%{ transform: translateX(4px); }
    
}

body{
    min-height: 90vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*overflow: hidden;*/
    font-family:'Inter';
}
#main-container {
    min-height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
}
#principal {
    position: relative;
    width: 50%;
    min-height: 90vh;
    background-color: #FCDA68;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../imagenes/Fondo-Huellas.svg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}
#titulo {
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor-texto-titulo {
    width: 70%;
}

#contenedor-texto-titulo h3 {
    color: #ffffff;
    text-align: center;
    font-size:1.6rem;
    font-weight:600;
}

#contenedor-foto {
    width: 100% ;
    height:50%;
    display: flex;
    justify-content: center;
}

#foto-animales {
    max-width:80%;
}   

#formulario {
    width: 50%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
}   

#cabecera-formulario {
    width: 90%;
}

#cabecera-formulario p {
    text-align: center;
    font-weight:500;
    font-size: 1.6rem;
    color: #2D2B40;
}

#form {
    height: 100%;
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

form {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form label {
    height: 1.5%;
}

.campo {
    width: 100%;
    height: 5%;
    padding: 2%;
    font-size:0.9rem;
    border:none;
    border-radius:6px;
    background-color:#EFEFEF;
    outline:none;
}

#campo-date {
    width: 100%;
    height: 5%;
    font-family:'Inter';
    font-size:0.9rem;
    border:none;
    border-radius:6px;
    background-color:#EFEFEF;
    outline:none;
    color: grey;
    padding: 2%;
}

.form-buttons {
    width: 100%;
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#boton-registro {
    width: 50%;
    padding: 1.5%;
    font-size: 1rem;
    text-align: center;
    border:none;
    border-radius:15px;
    background-color: #FCDA68;
    color: #ffffff;
}

.form-buttons a {
    width: 100%;
}

#boton-login {
    width: 50%;
    padding: 1.5%;
    font-size: 1rem;
    text-align: center;
    border-radius:15px;
    border: 1.5px solid #FCDA68;
    background-color: #ffffff;
    color: #2D2B40;
}

#contenedor-foto-footer {
    display: none;
}

@media (max-width: 1350px) {
    #main-container {
        flex-direction: column;
    }

    #principal {
        width: 100%;
        min-height: 20%;
        padding: 2%;
        background-image: none;
    }

    #contenedor-foto-titulo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contenedor-foto-titulo img {
        width: 16em;
        padding-top: 2%;
    }

    #contenedor-texto-titulo h3 {
        font-size: 1.2rem;
    }

    #contenedor-texto-titulo {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contenedor-foto {
        display: none;
    }

    #formulario {
        width: 100%;
    }

    #cabecera-formulario p {
        font-size: 1.2rem;
    }

    .form-buttons {
        margin-top: 5%;
    }

    #boton-registro {
        width: 30em;
    }

    #boton-login {
        width: 30em;
    }

    #contenedor-foto-footer {
        display: flex;
        justify-content: center;
        min-height: 37vh;
        width: 100%;
    }

    #foto-animales {
        max-width: 30em;
    }
}

@media (max-width: 900px) {
    #boton-registro {
        width: 15em;
    }

    #boton-login {
        width: 15em;
    }

    #foto-animales {
        max-width: 20em;
    }
}